.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.fontSize_xxl {
  font-size: 72px;
}

.fontSize_xl {
  font-size: 52px;
}

.fontSize_l {
  font-size: 32px;
}

.fontSize_m {
  font-size: 24px;
}

.fontSize_s {
  font-size: 18px;
}